.grid-container {
  display: grid;
  gap: 8px;
  grid-template-areas:
    "recherche affichage favoris"
    "resultat affichage favoris"
    "historique films favoris"
    "erreur erreur erreur";
}

.search {
  grid-area: recherche;
}

.results {
  grid-area: resultat;
}

.details {
  grid-area: affichage;
}

.films {
  grid-area: films;
}

.history {
  grid-area: historique;
}

.favorite {
  grid-area: favoris;
}

.error {
  grid-area: erreur;
}
